* {
    padding: 0px;
    margin: 0px;
}

p {
    font-family: Arial;
    text-align: justify;
}

.conteiner{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.maincontainer {
    display: flex;
    flex-wrap: row;
    width: 100%
}

/* header */
header {
    height: auto;
    width: 100%;
    background-color: darkblue;
    position: sticky;
    z-index: 100;
    top: 0;
    justify-content: center;
    display: flex;

}

.dclash {
    display: flex;
    flex-grow: 6;
    
}

a {
    text-decoration: none;
    font-family: Arial;
    color: aliceblue;
}

.clash {
    width: auto;
    align-content: flex-end;
    display: flex;
    font-size: 100%;
    flex-grow: 1;
    align-items: center;
}

header > div > div > img:first-child {
    height: auto;
    width: 30%;
    object-fit: cover;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

/* todo header */
.flexh {
    height: 75px;
    display: flex;
    width: 100%;
}
.logo {
    width: 15%;
}
.login {
    flex-grow: 1;
    align-items: center;
    display: flex;
}
.logincontainer {
    display: flex;
    color: white;
}
.logincontainer > img {
    width: 10%;
}


/* header */

/* main */

main {
    width: 70%;
    background-color: greenyellow;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding: 5%;
}
main > h1 {
    padding-bottom: 2%;
}
main > p {
    padding-bottom: 3%;
}

/* main */

/* aside */

aside {
    display: flex;
    width: 30%;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.imgad {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}
.imga {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
    transform-origin: center center;
}
.imga:hover {
    transform: scale(1.2);
}

/* aside */

/* footer */
footer {
    height: 100px;
    width: 100%;
    background-color: rgb(11, 12, 18);
}

footer div:first-child {
    width: 75px;

}

footer > div > a {
    color: white;
    text-decoration: none;
}
footer > div > a:hover {
    color: yellow;
}

.containerf {
    display: flex;
    flex-direction: column;
}
/* footer */


@media only screen and (max-width: 959px) {
    .clash{
        font-size: 10px;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .clash{
        font-size: 12px;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .clash{
        font-size: 14px;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .clash{
        font-size: 9px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .clash{
        font-size: 7px;
    }
}