/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main img {
    display: block;
    margin: 1rem auto;
}

header {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #f0f0f0;
}

header button {
    flex: 1;
    max-width: 200px;
    padding: 0.8rem 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    transition: background 0.3s ease;
}

header button:first-child {
    background-color: #28a745;
}

header button:last-child {
    background-color: #dc3545;
}

.container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
}

main {
    width: 70%;
    padding: 1rem;
    width: 70%;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

aside {
    width: 30%;
    background-color: #e0e0e0;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    main,
    aside {
        width: 100%;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    header button {
        max-width: 90%;
    }
}
