.search{
    --padding: 14px;
    
    width: 50%; 
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    width: 50%;
    transition: box-shadow 0.25s;
}

.search:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333; 
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 100%; 
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    margin: 0; 
    background-color: #ffffff;
    margin-top: 6%; 
}

html{

    height: 100%;
}

